<Layouts.app flash={@flash}>
  <.header>
    New contact
  </.header>

  <div class="my-16">[FORM GOES HERE]</div>

  <div class="mt-16">
    <.link
      navigate={~p"/"}
      class="text-sm font-semibold leading-6 text-zinc-900 hover:text-zinc-700"
    >
      <.icon name="hero-arrow-left-solid" class="h-3 w-3" /> Back to all contacts
    </.link>
  </div>
</Layouts.app>
